p {
  color:red;
}

#first {
  font-size: 14px;
}

#second {
  font-size: 16px;
}

#third {
  font-size: 18px;
}

#fourth {
  font-size: 20px;
}

#fifth {
  font-size: 22px;
}

h1 {
  color:green;
}

h2 {
  color:pink;
}

h3 {
  color:orange;
}
