* {
  background-color: lightGrey;
  border-style: border-box;
}

p {
  color:red;
}

#first {
  font-size: 14px;
}

#second {
  font-size: 16px;
}

#third {
  font-size: 18px;
}

#fourth {
  font-size: 20px;
}

#fifth {
  font-size: 22px;
}

h1 {
  color: green;
}

h2 {
  color: pink;
}

h3 {
  color: orange;
}

#circle {
  background-color: purple;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: fixed;
  right: 400px;
  bottom: 100px;
  z-index: 4;
}

#yeah {
  color: white;
  font-size: 55px;
  position:fixed;
  right: 450px;
  bottom: 220px;
  z-index: 5;
}
